{% extends "base.html" %}
{% load static %}

{% block header %}
    <h1>Garden Bed details</h1>
{% endblock %}

{% block content %}
<div>
  <h2>{{ garden.name }}</h2>
  <hr>
<ul>
    {% for bed in beds %}
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <b>Bed Name:</b> {{ bed.name }}
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                  <ul>
                      <li><b>Description:</b> {{ bed.description }}</li>
                      <li><b>Location:</b> {{ bed.location }}</li>
                  </ul>
                  <b>Plants:</b>
                    <ul>
                    {% for plant_bed, bed_plantings in plantings.items %}
                        {% if bed.id == plant_bed.id and bed_plantings|length > 0%}
                            {% for planting in bed_plantings %}
                                <li>{{ planting }}</li>
                                <li>{{ planting.location }}</li>
                                <li>{{ planting.plant.description }}</li>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    </ul>
              </div>
            </div>
          </div>
        </div>
        <hr>
    {% endfor %}
</ul>
</div>

{% endblock %}


